<ion-header-bar>
	<a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/me/setting">设置</a>
	<h1 class="title">通用</h1>
</ion-header-bar>
<ion-content ng-controller="SettingController">

	<ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      多语言
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      字体大小
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      聊天背景
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      我的表情
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      朋友圈小视频
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

    <ion-item class="item item-toggle" style="line-height:10px;">
      听筒模式
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
       功能
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
       聊天记录迁移
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>
    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
       清除微信存储空间
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

    <ion-item class="item" style="line-height:10px;text-align: center;">
      清除聊天记录
    </ion-item>

</ion-content>
