<ion-header-bar>
	<a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/me/setting">设置</a>
	<h1 class="title">新消息通知</h1>
</ion-header-bar>
<ion-content ng-controller="SettingController">

	<ion-item class="item-divider"></ion-item>
    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      接收新消息通知
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
    <ion-item class="item item-toggle" style="line-height:10px;">
        通知显示详情
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      功能消息免打扰
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
    <ion-item class="item item-toggle" style="line-height:10px;">
        声音
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>
    <ion-item class="item item-toggle" style="line-height:10px;">
        振动
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
    <ion-item class="item item-toggle" style="line-height:10px;">
        声音
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
   <ion-item class="item item-toggle" style="line-height:10px;">
        朋友圈照片更新
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

</ion-content>
