<ion-header-bar>
	<a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/me/setting">设置</a>
	<h1 class="title">账号与安全</h1>
</ion-header-bar>
<ion-content ng-controller="SettingController">

	<ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      微信号
      <i class="icon " style="font-size:15px;">SuperShuYe</i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      QQ号
      <i class="icon" style="font-size:15px;">983041678</i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      手机号
      <i class="icon" style="font-size:15px;">13832419968</i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      邮箱地址
      <i class="icon" style="font-size:15px;">983041678@qq.com</i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      声音锁
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      微信密码
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      账号保护
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      微信安全中心
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

</ion-content>
