<ion-header-bar>
	<a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/me/setting">设置</a>
	<h1 class="title">隐私</h1>
</ion-header-bar>
<ion-content ng-controller="SettingController">

	<ion-item class="item-divider"></ion-item>
    <ion-item class="item item-toggle" style="line-height:10px;">
        加我为好友时需要验证
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
    <ion-item class="item item-toggle" style="line-height:10px;">
        向我推荐QQ好友
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item item-toggle" style="line-height:10px;">
        通过QQ搜索到我
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
   <ion-item class="item item-toggle" style="line-height:10px;">
        通过微信号搜索到我
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>
    <ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      通讯录黑名单
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      不让他看我的朋友圈
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      不看他的朋友圈
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>
    <ion-item class="item item-toggle" style="line-height:10px;">
      允许陌生人查看十张图片
        <label class="toggle toggle-balanced" style="top:6px;">
            <input type="checkbox" checked="">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-item>
    <ion-item class="item-divider"></ion-item>

</ion-content>
