<ion-header-bar>
	<a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/me/setting">设置</a>
	<h1 class="title">关于微信</h1>
</ion-header-bar>
<ion-content ng-controller="SettingController">

	<ion-item class="item-divider"></ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      去评分
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      欢迎页
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      功能介绍
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      系统通知
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      举报与投诉
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item item-icon-right" href="#" style="line-height:10px;">
      帮助与反馈
      <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
    </ion-item>

    <ion-item class="item-divider"></ion-item>

</ion-content>
