 <ion-header-bar>
	<h1 class="title">微信</h1>
</ion-header-bar>
<ion-content ng-controller="UserController">
	<ion-list>
		<ion-refresher
		pulling-text="下拉刷新..."
		on-refresh="doRefresh()">
		</ion-refresher>
		<ion-item ng-repeat="item in items" 
		item="item"
		href="#/item/{{item.id}}" class="item-remove-animate item-avatar">
			<img src="{{item.img}}">
			<h2>{{item.name|changeFace:2}}</h2>
			<p>{{item.description}}</p>
			<ion-option-button class="button-dark"
                             ng-click="read(item)">
            标记为未读
			</ion-option-button>
			<ion-option-button class="button-assertive"
			                 ng-click="delete(item)">
			删除
			</ion-option-button>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer-bar>
	<ion-tabs class="tabs-icon-top">
		<ion-tab ng-repeat="m in menu" title="{{m.name}}" icon="{{m.icon}}" href="{{m.href}}" icon-on="{{m.on_icon}}"></ion-tab>
	</ion-tabs>
</ion-footer-bar>
